#display {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

ol {
  padding-right: 50px;
}

#display ol li {
  font-size: 25px;
  padding: 3px;
  padding-left: 8px;
}

#display ul li {
  font-size: 25px;
  text-decoration: none;
  padding: 3px;
}

#sum {
  position: absolute;
  top: 200px;
  left: 400px;
}

@media screen and (max-width: 480px) {
  #sum {
    top: 200px;
    left: 250px;
  }
}
